
body{
background:#002219;


}
.container{
	color:black;
	font-family: etica; 
	margin: 2%

}

.headercontainer{
	display: flex;
	flex-direction: column;

}

.personinfostyle{
	margin-bottom: 15px;
	flex-direction: column;
}

.projectvalgContainer, .header{
	align-items: center;
	color:black;
	margin:auto;
}

.header, .tilmeld, .footer, .Produktvalg{
	background:#002219;
	color:white;
}
.logo{
 	background-image: url('/components/img/topbanner.png');
 	height: 75px;
 	width: 475px;
 	background-repeat: no-repeat;
 	margin:auto;
 }

.projectvalgContainer{
	padding-left: 15px;
	padding-top: 5px;
	background :#fff;
	color:#000;

}
.blanket{
	display :flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;
	
}

.blanketchild{
	padding: 5px;

}

.betingelser{
	display:flex;
	flex-direction: column;
}
.bestil{
	width: 120px;
	height: 50px;
	margin: 15px;
	color:black;
	font-size: 1em;
	background: #3cb84d;
	float: right;
	display:inline-block;
}
.bestil:hover{
	background-color: #4CAF50; /* Green */
    color: white;

}
#valgtPakke{
	height: 400px;
	margin-top: 15px;
	background-repeat: no-repeat;
}
.fiber{
	background-image: url('/components/img/HTF.png');
}

.fiberextra{
	background-image: url('/components/img/HTFextra.png');
}

.fiberviasat{
	background-image: url('/components/img/HTFviasat.png')
}
.fibertotal{
	background-image: url('/components/img/HTFtotal.png')
}


.tvkanaler{
	display:flex;
	background: #004225;
	flex-wrap:wrap;
	align-content: space-around;
	list-style-type: none;
	margin: auto;
	padding:15px;
}
.kanal{
	display:flex; 
  	width: 9.8%;
  	background-color:white;
  	color:black;
  	margin: 1px;
}
.iconboks{
	height:50px;
}