
body{
background:#002219;


}
.container{
	display: flex;
	color:black;
	font-family: etica;
	flex-direction: column; 

}

.headercontainer{
	display: flex;
	flex-direction: column;
	align-content: center;
}

.projectvalgContainer, .personinfostyle{
	background :#fff;
	color:#000;
	margin-bottom: 15px;
	flex-direction: column;
}

.projectvalgContainer, .header{
	align-items: center;
	color:black;
}

.header, .tilmeld, .footer, .Produktvalg{
	background:#002219;
	color:white;
}
.logo{
 	background-image: url('/components/img/topbanner.png');
 	height: 75px;
 	width: 800px;
 	background-repeat: no-repeat;
 }

.personinfostyle{

}
.blanket{
	display :flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;
	
}

.blanketchild{
	padding: 5px;

}


.betingelser{
	display:flex;
	flex-direction: column;
}
.bestil{
	width: 120px;
	height: 50px;
	margin: 15px;
	color:black;
	font-size: 1em;
	background: #3cb84d;
	float: right;
	display:inline-block;
}
.bestil:hover{
	background-color: #4CAF50; /* Green */
    color: white;

}
#valgtPakke{
	height: 400px;
	margin-top: 15px;
	background-repeat: no-repeat;
}
.fiber{
	background-image: url('/components/img/HTF.png');
}

.fiberextra{
	background-image: url('/components/img/HTFextra.png');
}

.fiberviasat{
	background-image: url('/components/img/HTFviasat.png')
}
.fibertotal{
	background-image: url('/components/img/HTFtotal.png')
}

